{% load static %}
{% url 'home_page' as home_url %}
{% url 'contact_page' as contact_url %}
{% url 'accounts_page:login_page' as login_url %}
{% url 'accounts_page:logout_page' as logout_url %}
{% url 'accounts_page:register_page' as register_url %}
{% url 'products:products_list' as products_url %}
{% url 'cart_page:cart_home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">{{ brand_name }}</a>
    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
      <li class="nav-item {% if request.path == home_url %} active {% endif %}">
        <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == products_url %} active {% endif %}">
        <a class="nav-link" href="{{ products_url }}">Products</a>
      </li>
      <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
        <a class="nav-link" href="{{ contact_url }}">Contact</a>
      </li>
      <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
        <a class="nav-link" href="{{ cart_url }}">{{ request.session.cart_items }}
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ logout_url }}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item {% if request.path == login_url %} active {% endif %}">
          <a class="nav-link" href="{{ login_url }}">Login</a>
        </li>
      <li class="nav-item {% if request.path == register_url %} active {% endif %}">
        <a class="nav-link" href="{{ register_url }}">Sigup</a>
      </li>
      {% endif %}
    </ul>

    {% include 'search/snippets/search-form.html' %}
  </div>
</nav>