{% extends 'base.html' %}


{% block content %}

{% if not billing_profile %}
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-md-6">
				<p class="lead">Login</p>
				{% include "snippets/form.html" with form=login_form next_url=request.build_absolute_uri %}
			</div>
			<div class="col-12 col-md-6">
				Continue as Guest
				{% url 'guest_login' as guest_login_url %}
                {% include "snippets/form.html" with form=guest_form next_url=request.build_absolute_uri action_url=guest_login_url %}
			</div>
		</div>
	</div>
{% else %}

    <div class="container">
        <h1>Checkout</h1>
        <p>Cart Total: {{ object.cart.total }}</p>
        <p>Shipping Total: {{ object.shipping_total }} </p>
        <p>Order Total: {{ object.total }} </p>
    </div>
{% endif %}
{% endblock content %}
    