{% extends 'base.html' %}


{% block content %}    
    <form method="POST"> {% csrf_token %}
        {{ form }}
        <input type="hidden" name="next" value="{{ request.POST.next }}"/>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
    