{% extends 'base.html' %}


{% block content %}    
    <form method="POST"> {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
    