{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">

        <div class="row mb-3" >
                    
        {% if request.GET.q %}
            <div class="col-12 ">
                Results for {{ request.GET.q }}
                <hr/>
            </div>
        {% else %}
        <div class="col-12 col-md-6 mx-auto py-5">
            {% include 'search/snippets/search-form.html' %}
        </div>
        {% endif %}
        </div>

        <div class="row">
        {% for obj in object_list %}
            <div class="col-md-4">
                {% include 'snippets/card.html' with instance=obj %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
