{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Welcome to Homepage</h1>
        <img src='{% static "img/dark.jpg" %}' class="img-fluid" />
    </div>
{% endblock %}