<form method="GET" action="{% url 'search_page:query' %}" class="form my-2 my-lg-0">
    <div class="input-group">
        <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
        <span class="input-group-btn">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </span>
    </div>
</form>