{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Contact</h1>
    <div class='col-sm-6 col-12'>

        <form method="POST"> {% csrf_token %}
            {{ contact_form }}
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>
{% endblock %}