<form method="POST" action="{% if action_url %} {{ action_url }} {% else %} {% url 'accounts_page:login_page' %} {% endif %}"> {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next_url }}" />
    {% endif %}
    {{ form }}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
