
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
        {% for obj in object_list %}
            <div class="col-md-4">
                {% include 'snippets/card.html' with instance=obj %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
