{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class='row'>
            <div class="col-12 col-md-6">
                <h1>{{ object.title }}</h1>
                <p>{{ object.timestamp|timesince }} ago </p>
                {{ object.description|linebreaks }} <br>
                {{ object.price }} <br>
                {% if object.image %}
                    <img src="{{ object.image.url }}" class="img-fluid" />
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                {% include "snippets/update-cart.html" with product=object cart=cart %}


            </div>
        </div>
    </div>

{% endblock content %}
    